{% extends '../template.html' %}

{% block bare-css %}
<link rel="stylesheet" type="text/css" href="/mockups.css">
{% endblock %}

{% block environment %}mobile{% endblock %}

{% block content %}

{% include 'nav-menu.html' %}
{% include 'snippet-list.html' %}

<div id="shadow-background" class="hidden"></div>
<div id="right-panel"></div>

<style type="text/css">
  .navbar-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-fixed.navbar-hidden {
    top: -50px;
  }

  #snippet-list {
    margin-top: 50px;
  }

  #right-panel {
    position: fixed;
    width: 270px;
    right: -270px;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: 5px;
    background-color: #f8f8f8;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  #right-panel.open {
    right: 0;
  }

  #shadow-background {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .stop-scroll {
    overflow: hidden;
  }
</style>
{% endblock %}