<div class="media snippet">
    <div class="icon">
      {% if (Math.random() > 0.8) %}
        <span class="pinned"></span>
      {% endif %}
      <img class="media-object" src="/img/type-icons/5252ce4ce4cfcd16f55cfa3c-pdf.svg">
    </div>
    <div class="media-body">
      <span class="info"></span>
      <h4 class="media-heading title">Media heading qzd qd qdqdqzd qzd qd</h4>
      <p>Cras sit amet nibh libero, <strong>in gravida nulla</strong>. Nulla vel metus scelerisque qdq qdzqzdq qdq qzdqzd qzd  qzdqzd</p>
    </div>
</div>