<div id="snippet-list">
  {% for timeSlice in documents.faceted %}
    {% if timeSlice.data.length !== 0 %}
      <p class="bg-primary timestamp">{{timeSlice.label}}</p>
    {% endif %}

    {% for doc in timeSlice.data %}
      {% include '_snippet.html' %}
    {% endfor %}
  {% endfor %}

  {% if documents.counts === 0 %}
  <div class="zero-state">
    <h4>No documents found</h4>
    <p>Start using the context by connecting first your cloud provider.</p>
  </div>
  {% endif %}
</div>

<!-- TODO: move to a pin-specific template? -->
<div id="pinned-list">
  {% for doc in pins %}
    {% include '_snippet.html' %}
  {% endfor %}
</div>