<nav class="navbar navbar-default navbar-result" role="navigation">
  <div class="container-fluid">
    <div class="btn-group navbar-btn" id="context-switch">
      <a class="btn btn-primary">
        Context  <span class="badge">{{documents.count|default('0')}}</span>
      </a>
      <a class="btn btn-default disabled">
        Pinned  <span class="badge">{{pinned.count|default('0')}}</span>
      </a>
    </div>

    <a class="btn btn-default navbar-btn pull-right" id="filter">Filters</a>
  </div>
</nav>


<!-- Filters hidden tempalte -->
<div id="filter-template" class="hidden">
  <div class="filter-container">
    <label for="provider">Provider</label>
    <select class="form-control" id="provider">
      <option value="">All</option>
      {% for provider in documents.providers %}
      <option value="{{provider.id}}">{{provider.name|title}}</option>
      {% endfor %}
    </select>

    <label for="type">Type</label>
    <select class="form-control" id="type">
      <option value="">All</option>
      {% for docType in documents.document_types %}
      <option value="{{docType.id}}">{{docType.name|title}}</option>
      {% endfor %}
    </select>

    <hr/>

    <button type="button" class="btn btn-primary btn-lg btn-block execute">Execute</button>
    <button type="button" class="btn btn-default btn-lg btn-block dismiss">Cancel</button>
  </div>
</div>