<nav class="navbar navbar-default navbar-result" role="navigation">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#timeline" data-toggle="tab"><span class="fa fa-user"></span></a></li>
      <li class=""><a href="#pinned" data-toggle="tab"><span class="fa fa-star"></span></a></li>
      <li class=""><a href="#search" data-toggle="tab"><span class="fa fa-search"></span></a></li>
    </ul>

    <!-- <a class="btn btn-default pull-right btn-filters" id="filter">Filters  <span class="fa fa-sliders"></span></a> -->
  </div>
</nav>
