<nav class="navbar navbar-default navbar-result" role="navigation">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#timeline" data-toggle="tab"><span class="fa fa-user"></span> <!-- {{data.context.templatedDisplay}} --></a></li>
    <li class=""><a href="#pinned" data-toggle="tab"><span class="fa fa-star-o"></span><span class="badge"></span></a></li>
    <li class="pull-right"><a href="#search" data-toggle="tab"><span class="fa fa-search"></span></a></li>
  </ul>
</nav>


<!-- Filters hidden tempalte -->
<div id="filter-template" class="hidden">
  <div class="filter-container">
    <label for="provider">Provider</label>
    <select class="form-control" id="provider">
      <option value="">All</option>
      {% for provider in documents.providers %}
      <option value="{{provider.id}}">{{provider.name|title}}</option>
      {% endfor %}
    </select>

    <label for="type">Type</label>
    <select class="form-control" id="type">
      <option value="">All</option>
      {% for docType in documents.document_types %}
      <option value="{{docType.id}}">{{docType.name|title}}</option>
      {% endfor %}
    </select>

    <hr/>

    <button type="button" class="btn btn-primary btn-lg btn-block execute">Execute</button>
    <button type="button" class="btn btn-default btn-lg btn-block dismiss">Cancel</button>
  </div>
</div>
