@import (reference) "variables.less";

//  _____      _ _  __     ___
// |  ___|   _| | | \ \   / (_) _____      __
// | |_ | | | | | |  \ \ / /| |/ _ \ \ /\ / /
// |  _|| |_| | | |   \ V / | |  __/\ V  V /
// |_|   \__,_|_|_|    \_/  |_|\___| \_/\_/
//
// This stylesheet is injected in the document's full view

body {
  font-family: @defaultFontFamily;
  font-size: @defaultFontSize - 4px;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

#document-container {
  padding: 2px;

  // This fixes iOS Safari shitty iframe handling
  // Thanks Apple. Again. I fucking lost 6 hours on this bug.
  width: 10px;
  min-width: 100%;
  height: 10px;
  min-height: 100%;
  box-sizing: border-box;
}

.desktop #document-container {
  padding: 20px;
}

img {
  max-width: 100%;
}

.anyfetch-hlt {
  background-color: @defaultHighlightColor;
}

article.anyfetch-document-full header.anyfetch-header .anyfetch-title-group h1.anyfetch-title {
  font-size: 1.3em;
}
