@import (inline) "../../bower_components/normalize.css/normalize.css";
@import (reference) "variables.less";
@import "custom-bootstrap.less";

//  _____      _ _  __     ___
// |  ___|   _| | | \ \   / (_) _____      __
// | |_ | | | | | |  \ \ / /| |/ _ \ \ /\ / /
// |  _|| |_| | | |   \ V / | |  __/\ V  V /
// |_|   \__,_|_|_|    \_/  |_|\___| \_/\_/
//
// This stylesheet is injected in the document's full view

* {
  box-sizing: border-box;
}

body {
  font-family: @defaultFontFamily;
  font-size: @defaultFontSize - 4px;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

html.tablet {
  body {
    font-size: @defaultFontSize - 2px;
  }
}

#document-container {
  // This fix iOS Safari shitty iframe handling
  // Thanks Apple. Again. I fucking lost 6 hours on this bug.
  // To be complete, we need to add "height:10px; width:10px", but Firefox being standard compliant does not accept this. That's why we're injecting this later, from the js.
  min-width: 100%;
  min-height: 100%;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch !important;
}

html.desktop {
  body {
    padding-top: @navbarHeightMobile;
    font-size: @defaultFontSize;
  }

  nav.navbar {
    position: absolute;
    z-index: 1030;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: auto;
    height: @navbarHeightMobile;
    background-color: @navbarBackgroundColor;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      color: @white;
      height: 100%;
      padding: 10px;

      li {
        margin-right: 10px;
        float: left;
        height: 100%;

        a {
          height: 100%;
          padding: 11px 20px;
          font-size: 18px;
          line-height: 18px;
          display: block;
          text-decoration: none;
          color: @white;

          &:hover {
            text-decoration: none;
            color: @white;
          }
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

article.anyfetch-document-full header.anyfetch-header .anyfetch-title-group h1.anyfetch-title {
  font-size: 1.3em;
}
