/**********************
       CONSTANTS
***********************/

@defaultFontFamily: 					'Helvetica Neue', 'Helvetica', Arial;
@defaultFontWeight: 					300;
@defaultColor: 							#646464;
@bodyBackground: 						#F0F0F0;

@anyFetchBlue: 							#14A8E1;
@anyFetchLightColor:					#fff;
@anyFetchDarkColor: 					#ddd;
@anyFetchOrange: 						#F98D33;
@anyFetchBlack: 						#777;
@anyfetchSoftOrange: 					@anyFetchOrange + #111;
@anyFetchLightGray: 					#F8F8F8;
@anyFetchGray: 							#D6D6D6;

@bootstrapGray: 						#ADADAD;
@bootstrapLightGray: 					#EBEBEB;

@highLightFontWeight:					900;

@navbarVerticalPadding: 				15px;
@navbarHorizontalPadding: 				20px;
@navbarLineHeight: 						20px;
@navbarBackgroundColor: 				#474747;
@navbarItemBackgroundColor: 			#656565;
@navbarItemColor: 						#fff;
@navbarItemActiveBackgroundColor: 		@bodyBackground;
@navbarItemsBorderRadius: 				0px;
@navbarItemSpacing: 					10px;
@navbarItemFontSize: 					14px;
@navbarNoFrameMaxWidth: 				265px;
@navbarInnerShadow:						inset 0 -20px 30px -25px #000;
@navbarImageMaxHeight:					48px;

@toolbarLineHeight: 					20px;
@toolbarVerticalPadding: 				15px;
@toolbarHorizontalPadding: 				20px;
@toolbarBackground: 					@navbarBackgroundColor;

@snippetBackgroundColor: 				#FAFAFA;
@snippetActiveBackgroundColor: 			#fff;
@snippetIconDivWidth: 					20px;
@snippetPadding: 						5px;
@snippetMargin: 						5px;
@snippetMarginRight:					-1px;
@snippetBorderWidth: 					1px;
@snippetBorderColor: 					#ddd;
@snippetHeight: 						80px;
@snippetFontSize:						12px;
@snippetTitleMargin:					5px 0px 10px 0px;
@snippetTitleFontSize:					15px;
@snippetTitleColor:						#333333;
@snippetTitleFontWeight:				400;
@snippetImageMaxHeight:					100%;
@snippetImageMaxWidth:					30%;
@snippetImageMargin:					0px 10px;
@snippetContentRightMargin:				10px;

@snippetSectionHeaderPadding:			0px 10px;
@snippetSectionFieldsetMargin:			20px 0px -20px 0px;
@snippetSectionHeaderColor:				#6D6D6D;
@snippetSectionHeaderFontSize:			14px;

@documentViewPadding: 					0px 0px;

@starButtonFontSize: 					20px;
@starButtonColor: 						#C4C4C4;

@filterCellFontSize: 					14px;
@filterCellPadding: 					0px 5px;
@filterCellMargin:						10px;
@filterColumnWidth: 					300px;
@filterColumnPadding: 					20px;
@filterColumnColor: 					#3E8ACC;
@filterColumnPassiveColor: 				@anyFetchGray;
@filterColumnListPadding: 				0px 0px 0px 10px;

@providerBorderRadius: 					3px;
@providerMargin: 						10px 0px;
@providerPadding: 						15px 10px;
@providerPassiveColor: 					@anyFetchGray;
@providerDeveloperNameColor: 			#000;
@providerLegendColor: 					#555;
@providerBoxShadow: 					0px 0px 20px -10px;
@providerMinHeight: 					170px;
@providerDescriptionFontSize: 			13px;
@providerTabMargin: 					10px 20px;
@providerContainerMarginTop: 			60px;
@providerTableCellPadding: 				5px 10px;
@providerTableCellBackgroundColorEven: 	@bodyBackground;
@providerTableCellBackgroundColorOdd: 	@snippetBackgroundColor;
@providerTableCellBackgroundColorHover: #fff;
@providerBackgroundColor:				@snippetBackgroundColor;

@defaultBorder: 						1px solid #ddd;

@defaultNavbarZIndex: 					1030;

@iframeMarginBottomFix:					-5px;

@spinnerSize:							39px;
@spinnerErrorMessageWidth:				500px;
@spinnerErrorMessageMaxWidth:			80%;
@spinnerErrorMessageHeight:				50px;

// desktop

@desktopNavbarWidth: 					100px;
@desktopNavbarItemPadding: 				25px 20px;
@desktopNavbarFontSize: 				20px;
@desktopNavbarInnerShadow:				inset -20px 0px 30px -25px #000;

@desktopBodyPadding: 					20px;

// tablet

@tabletLeftPanelWidth: 					320px;
@tabletTogglePanelButtonWidth: 			50px;
@tabletTogglePanelButtonFontSize: 		30px;
@tabletTogglePanelButtonPadding: 		10px;

@tabletMainViewZIndex: 					1020;
@tabletSubViewNavbarZIndex: 			1010;

@tabletSnippetListShadow: 				inset -10px 0px 25px -20px;

/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/

@navbarHeight: 2*@navbarVerticalPadding + @navbarLineHeight + @navbarItemSpacing;
@toolbarHeight: 2*@toolbarVerticalPadding + @toolbarLineHeight;

@tabletActiveSnippetZIndex: @tabletMainViewZIndex + 10;

@navbarTabLeftMargin: @navbarItemSpacing 0px 0px @navbarItemSpacing;
@navbarTabRightMargin: @navbarItemSpacing @navbarItemSpacing 0px 0px;
@navbarTabDesktopMargin: @navbarTabLeftMargin;

@navbarPullLeftMargin: @navbarItemSpacing/2 0px @navbarItemSpacing/2 @navbarItemSpacing;
@navbarPullRightMargin: @navbarItemSpacing/2 @navbarItemSpacing @navbarItemSpacing/2 0px;
