{% extends '../../template.html' %}

{% block bare-css %}
  <link rel="stylesheet" type="text/css" href="/desktop.css">
{% endblock %}

{% block bare-js %}
  <script type="text/javascript" src="/js/desktop.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid full">
	<p class="full-header">
		<span class="doc-type">{{document.document_type}}</span>
		 from
		<span class="provider">{{document.provider}}</span>
	    {% if document.pinned %}
	    <span class="info pull-right fa fa-star pin-btn" data-doc="{{document.id}}"></span>
	    {% else %}
	    <sapn class="info pull-right fa fa-star-o pin-btn" data-doc="{{document.id}}"></span>
	    {% endif %}
	</p>
	<hr>
	<div class="doc-content">
	{% autoescape false %}{{document.full_rendered}}{% endautoescape %}
	</div>
</div>


{% endblock %}
