{% extends '../../template.html' %}

{% block bare-css %}
  <link rel="stylesheet" type="text/css" href="/mobile.css">
{% endblock %}

{% block bare-js %}
  <script type="text/javascript" src="/js/mobile.js"></script>
{% endblock %}

{% block content %}
  {% include '../../components/_switch-navbar.html' %}
  <div class="tab-content">
    <div class="tab-pane active" id="timeline">
      <div class="tab-container snippet-list">
	    {% include '../../components/_snippets-list.html' %}
      </div>
    </div>
    <div class="tab-pane" id="pinned">
      {% include '../../components/_pinned-tab.html' %}
    </div>
  </div>

<div id="loading-more" class="hidden">
  <div class="loader">
    <img src="/img/ajax-loader.gif">
     Loading more
  </div>
</div>

  <div id="shadow-background" style="display: none;"></div>
  <div id="right-panel"></div>
{% endblock %}
