{% extends '../../template.html' %}

{% block bare-css %}
<link rel="stylesheet" type="text/css" href="/tablet.css">
{% endblock %}

{% block bare-js %}
  <script type="text/javascript" src="/js/tablet.js"></script>
{% endblock %}

{% block content %}
<div id="left-panel" class="active">
  {% include '../../components/_switch-navbar.html' %}
  {% include '../../components/_snippets-list.html' %}
  <div id="left-toogle">&#8942;</div>
</div>


<div id="right-panel">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a href="#" class="btn btn-default navbar-btn pull-right disabled hidden">Pin</a>
    </div>
  </nav>

  <div class="container-fluid" id="full-container">
  </div>
</div>
{% endblock %}
