
/**********************
       CONSTANTS
***********************/

@defaultFontFamily: 'Open Sans', sans-serif;
@defaultFontWeight: 300;


@anyFetchBlue: #14A8E1;
@anyFetchLightColor: #fff;
@anyFetchDarkColor: #ddd;
@anyFetchOrange: #F98D33;
@anyFetchBlack: #777;
@anyfetchSoftOrange: @anyFetchOrange + #111;
@anyFetchLightGray: #F8F8F8;

@bootstrapGray: #ADADAD;
@bootstrapLightGray: #EBEBEB;

@navbarVerticalPadding: 15px;
@navbarHorizontalPadding: 20px;
@navbarLineHeight: 20px;
@navbarBackgroundColor: #474747;
@navbarItemsBorderRadius: 0px;
@navbarItemSpacing: 10px;
@navbarItemFontSize: 20px;

@toolbarLineHeight: 20px;
@toolbarVerticalPadding: 15px;
@toolbarHorizontalPadding: 20px;
@toolbarBackground: #F1F1F1;


@snippetBackgroundColor: transparent;
@snippetActiveBackgroundColor: #fff;
@snippetIconDivWidth: 20px;
@snippetPadding: 5px;
@snippetMargin: 5px;
@snippetBorderWidth: 1px;
@snippetBorderColor: #ddd;
@snippetHeight: 80px;

@snippetListBackground: #F0F0F0;


@starButtonFontSize: 20px;
@starButtonColor: #C4C4C4;

@filterCellFontSize: 14px;

@defaultBorder: 1px solid #ddd;

@defaultNavbarZIndex: 1030;

// desktop

@desktopNavbarWidth: 100px;
@desktopBodyPadding: 20px;

// tablet

@tabletLeftPanelWidth: 320px;
@tabletTogglePanelButtonWidth: 40px;

@tabletMainViewZIndex: 1020;
@tabletSubViewNavbarZIndex: 1010;

@tabletSnippetListShadow: inset -12px 0px 25px -20px;



/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/

@navbarHeight: 2*@navbarVerticalPadding + @navbarLineHeight + @navbarItemSpacing;
@toolbarHeight: 2*@toolbarVerticalPadding + @toolbarLineHeight;

@tabletActiveSnippetZIndex: @tabletMainViewZIndex + 10;

@navbarTabLeftMargin: @navbarItemSpacing 0px 0px @navbarItemSpacing;
@navbarTabRightMargin: @navbarItemSpacing @navbarItemSpacing 0px 0px;
@navbarTabDesktopMargin: @navbarTabLeftMargin;


/**********************
        MIXINS
***********************/

// Global

.StarButton {
	color: @starButtonColor;
	font-size: @starButtonFontSize;
}

.StarBarButton { .StarButton;
	padding: @navbarVerticalPadding;
	line-height: @navbarLineHeight;
}

.Snippet {
	margin: @snippetMargin;
	border: @snippetBorderColor @snippetBorderWidth solid;
	height: @snippetHeight;
	padding: @snippetPadding;
	padding-left: @snippetPadding + @snippetIconDivWidth;
	background-color: @snippetBackgroundColor;
	position: relative; // needed for icon to stay in

	.icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: @snippetIconDivWidth;
		background: #ccc;
	}

	.star-btn { .StarButton;
		float: right;
		margin-top: (@snippetHeight - 2*@snippetPadding - @starButtonFontSize)/2 ;
	}
}

.SnippetList {
	padding: 5px 0px;
	background: @snippetListBackground;
	height: 100%;
	overflow: scroll;
}

.DocumentList {
	height: 100%;
}

.Navbar(@z-index: @defaultNavbarZIndex) {
	position: absolute;
	z-index: @z-index;
	border: 0px;
	margin-bottom: 0px;
	min-height: 0px;
	border-radius: 0px;

	li a {
		padding: @navbarVerticalPadding;
		line-height: @navbarLineHeight;
		border-radius: @navbarItemsBorderRadius;
	}

	.tab-left {
		float: left;
		margin: @navbarTabRightMargin;
	}

	.tab-right {
		float: right;
		margin: @navbarTabRightMargin;
	}
}

.NavigationBar { .Navbar;
	right: 0;
	left: 0;
	top: 0;
	background-color: @navbarBackgroundColor;

	li a {
		padding: @navbarVerticalPadding @navbarHorizontalPadding;
		font-size: @navbarItemFontSize;
	}
}

.Toolbar { .Navbar;
	right: 0;
	left: 0;
	bottom: 0;
	background: @toolbarBackground;
	border-top: @defaultBorder;
}

.FilterToolBar {
	li { .FilterToolbarButton }

	li.drop-left {
		.filter-menu { .FilterDropdownMenuLeft }
	}
	li.drop-right {
		.filter-menu { .FilterDropdownMenuRight }
	}
}

.FilterToolbarButton {
	width: 50%;
	margin: 0px;
	text-align: center;
}

.FilterCell {
	width: 100%;

	a {
		padding: 5px 20px;
		font-size: @filterCellFontSize;

		.icon-column {
			float: left;
			min-width: @filterCellFontSize; // prevents layout changes when checkmarks appear/disappear
			min-height: @filterCellFontSize; // prevents layout changes when checkmarks appear/disappear
		}
	}
}

.FilterDropdownMenu {
	border-radius: 0px;
	border: 0px;
	border-top: @defaultBorder;

	li { .FilterCell }
}

.FilterDropdownMenuLeft { .FilterDropdownMenu;
	left: 0px;
	right: -100%;
}

.FilterDropdownMenuRight { .FilterDropdownMenu;
	left: -100%;
	right: 0px;
}

.MainViewBody {
	position: absolute;
	top: @navbarHeight;
	left: 0px;
	right: 0px;
	bottom: @toolbarHeight;
}

.TogglePanelButton {
	position: absolute;
	right: -@tabletTogglePanelButtonWidth;
	width: @tabletTogglePanelButtonWidth;
	top: 0;
	height: @navbarHeight;
	background-color: red;
}

// Desktop

.DesktopNavbar { .Navbar;
	left: 0;
	top: 0;
	bottom: 0;
	width: @desktopNavbarWidth;

	.tab-left {
		float: right;
		margin: @navbarTabDesktopMargin;
	}

	.tab-right {
		float: right;
		margin: @navbarTabDesktopMargin;
	}
}

.DesktopBody {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: @desktopNavbarWidth;
	padding: @desktopBodyPadding;
	overflow: scroll;
}

// Tablet

.TabletPanel {
	position: absolute;
	top: 0;
	bottom: 0;
}

.TabletLeftPanel { .TabletPanel;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: @tabletLeftPanelWidth;
	z-index: @tabletMainViewZIndex;

	left: -@tabletLeftPanelWidth;
	-webkit-transition: left .5s ease-in-out;
	transition: left .5s ease-in-out;

	&.active {
		left: 0px;
	}
}

.TabletRightPanel { .TabletPanel;
	right: 0;
	padding-top: @navbarHeight;

	nav.navbar { .RightNavbar(@tabletSubViewNavbarZIndex) }
}

.TabletRightPanel(portrait) {
	.TabletRightPanel;
	left: 0px;
}

.TabletRightPanel(landscape) {
	.TabletRightPanel;
	left: @tabletLeftPanelWidth;
}

.RightNavbar(@z-index: @defaultNavbarZIndex) { .Navbar(@z-index);

	li span {
		padding: @navbarVerticalPadding;
		line-height: @navbarLineHeight;
		position: relative;
		display: block;
	}
}

.ActiveSnippet { .Snippet;
	margin-right: 0px;
	border-right: 0px;
	padding-right: @snippetMargin + @snippetPadding + @snippetBorderWidth;
	background-color: @snippetActiveBackgroundColor;
}

// Mobile

/**********************
         STYLES
***********************/


// Global
.toolbar { .Toolbar }

.document-list { .DocumentList;

	.snippet-list {
		.SnippetList;

		.snippet { .Snippet }
	}
}

nav .star-btn { .StarBarButton }

// Desktop
html.desktop {

	.navbar-tab { .DesktopNavbar }

	#view-body { .DesktopBody }

}

// Tablet
html.tablet {

	#mainview { .TabletLeftPanel;

		#view-body { .MainViewBody }

		.snippet.active { .ActiveSnippet;
			z-index: @tabletActiveSnippetZIndex;
		}

		.navbar-tab { .NavigationBar }

		#filter-tabs { .FilterToolBar }

	}
}

html.tablet.landscape {

	#toggle-panel-btn {
		display: none;
	}

	#mainview {

		.snippet-list {
			box-shadow: @tabletSnippetListShadow;
		}

		#filter-tabs {

			li.open ul {
				box-shadow: 0px 0px;
				-webkit-box-shadow: 0px 0px;
			}

			li:last-child a.dropdown-toggle {
				box-shadow: @tabletSnippetListShadow;
			}
		}
	}

	#subview { .TabletRightPanel(landscape);

		.navbar-tab { .NavigationBar }

	}
}

html.tablet.portrait {

	#toggle-panel-btn { .TogglePanelButton }

	#subview { .TabletRightPanel(portrait);

		.navbar-tab { .NavigationBar }

	}
}

// Mobile
html.mobile {

	#view-body { .MainViewBody }

	.navbar-tab { .NavigationBar }

	#filter-tabs { .FilterToolBar }
}
