#snippet-list {
 .timestamp {
    border-top: 1px solid #aaa;
    margin: 0px 10px 0px 10px;
    text-align: center;
  }

  .timestamp legend {
    width: auto;
    border: 0px;
    padding: 0px 10px 0px 10px;
  }

  &>:first-child{
    margin-top: 0;
  }

  .zero-state {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 120px;
    width: 200px;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;

    h4 {
      text-transform: uppercase;
      font-weight: bold;
      color: @brand-primary;
    }

    p {
      color: @gray-dark;
    }
  }
}
