.navbar {
  height: 54px;
  background-color: #474747;
  border-radius: 0;
  border: 0;
  margin-bottom: -50px;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
  min-height: 0px;

  box-shadow: inset 0px -10px 30px -15px #000;

  .btn-filters {
  	font-size: 15px;
  	border: 0;
  	background-color: inherit;
  	color: #fff;
  	margin-top: 5.5px;
  }

  .pull-right {
  	display: inline-block;
  }

  .navbar-btn {
  	margin-top: 8.5px;
  	margin-bottom: 8.5px;
  }

  .badge {
    min-width: 20px;
    font-size: 8px;
    font-weight: 400;
    position: relative;
    left: -10px;
    top: 3px;
  }

  .nav-tabs {
    margin-top: 10px;
    border-bottom: 0px;
    margin-left: 10px;

    li {
      margin-bottom: 0px;
      margin-right: 10px;

      a {
        border-radius: 0px;
        border: 0px;
        background-color: #656565;
        color: #F8F8F8;
        font-weight: 200;
        font-size: 20px;
        padding: 8px 16px;
        box-shadow: inset 0px -10px 30px -15px #000;
      }
    }

    li.active {

      a {
        background-color: #F0F0F0;
        color: #474747;
        box-shadow: 0px 0px;
      }
    }
  }

  .nav-pills {
    margin-top: 6px;
  }
}
